
main{
    margin:30px;
    width: auto;
    box-shadow: black 1px 2px 9px 2px;
    background: #dfd6ff;
    border-radius: 0.5%;
}
img{
    margin: 10px;
}
article {
    font-size: 30px;
    margin: 20px;
}
.Ladamadelarmiño{
    background: rgb(190, 189, 192);
    width: 320px;
    margin: 20px;
    clear: right;
    float: right;
    align-items: center;
    border:solid 1px black;
    box-shadow: black 4px 4px 5px;
}
.Ladamadelarmiño p{
    font-size: 20px;
    margin: 10px;
}
details{
    margin: 20px;
    height: auto;
    border-right: solid 2px rgb(255, 0, 0);
    padding: 30px;
}
.menu{
    height: 100%;
    float: left;
    background: rgb(225, 212, 255);
    width: 220px; 
}
ul{
    font-size: 20px;
    padding: 0%;
    padding-right: 20px;
    color: black; 
}
a{
    color: black;
}

table{
    background: rgb(221, 205, 252);
    border-collapse: collapse;
    margin-right: 60px;
    width: 100%;
    font-size: 20px;
}
table th,td{
    border: solid 2px black;   
}
tr:first-child{
    background: rgb(209, 181, 255);
}
td:hover{
    background: rgb(194, 164, 250);
    cursor: pointer;
}
