body {
    overflow: scroll;
}

/*Texto*/
h1 {
    font-family:Rockwell;
    text-align: center;
    color:#374F59;

    } 
h2 {
    font-family: Rockwell;
    text-align: left;
    color:#374F59;
    }

a,.lista li{
    font-family: Rockwell;
    color: darkred;

}


.logo-header img{
    width: 150px;
}
p {
    font-family: Rockwell;
    text-align: left;
}


/* Contenedores */
header{
    background-color: #2c2c2c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 2rem;

}

.principal
{
    position: relative;
    float: left;
    width: 900px;
    margin-left: 20px;
}

.cajaderecha
{
    position: relative; 
    float: right;  
     width: 320px;
    margin-right:20px;
}
.lista{


    font-family: Rockwell;
    color: black;
    list-style: circle;

    }

#intermedio
{
    margin-top: 10px;
}

#cajainicio
{
    margin-top: 75px;
    position: relative; 
}

#cajainicio .contimagen
{
    position: absolute;
    top: 50%;
    left:50% ;
    transform: translateX(-95%) translateY(-50%);
    color:#fff ;
}
