

/*Texto*/
main{
    display: flex;
    justify-content: space-between;
}
h1 {
    font-family:Rockwell;
    text-align: center;
    color:#374F59;

    } 
h2 {
    font-family: Rockwell;
    text-align: left;
    color:#374F59;
    }

a,.lista li{
    font-family: Rockwell;
    color: darkred;

}


.logo-header img{
    width: 150px;
}
p {
    font-family: Rockwell;
    text-align: left;
}


/* Contenedores */


.principal
{
    width: 85%;
    margin-left: 20px;
}

.cajaderecha
{
    width: 15%;
    margin-right:20px;
    height: 100%;
}
.lista{


    font-family: Rockwell;
    color: black;
    list-style: circle;

    }

#intermedio
{
    margin-top: 10px;
}

#cajainicio
{
    margin-top: 75px;
    position: relative; 
}

#cajainicio .contimagen
{
    position: absolute;
    top: 50%;
    left:50% ;
    transform: translateX(-95%) translateY(-50%);
    color:#fff ;
}

